{% extends sub_domain()~'_layout.html.twig' %}

{% block head_title %}{{ 'menu.left.Admin'|trans }} - {{ 'admin.index.Country'|trans }}{% endblock %}
{% block main_title %}{{ 'menu.left.Admin'|trans }} - {{ 'admin.index.Country'|trans }}{% endblock %}

{% block main_content %}
	<table class="table table-bordered admin_show">
		<tr>
			<th>{{ "admin.country.Title"|trans }}</th>
			<td>{{ entity.title }}</td>
		</tr>
		<tr>
			<th>{{ "admin.country.InternationalName"|trans }}</th>
			<td>{{ entity.internationalName }}</td>
		</tr>
		<tr>
			<th>{{ "admin.country.Flag"|trans }}</th>
			<td><img src="{{ asset(constant('\\App\\Entity\\Country::PATH_FILE')~entity.flag) }}" alt="" /></td>
		</tr>
		<tr>
			<th>{{ "admin.form.Language"|trans }}</th>
			<td>{{ entity.language.title }}</td>
		</tr>
		<tr>
			<th>{{ "admin.form.Slug"|trans }}</th>
			<td>{{ entity.slug }}</td>
		</tr>
	</table>
	<hr>
	<a href="{{ path('app_countryadmin_index') }}"><i class="fas fa-list"></i> {{ 'admin.index.List'|trans }}</a> - <a href="{{ path('app_countryadmin_edit', { 'id' : entity.id }) }}"><i class="fas fa-edit"></i> {{ 'admin.index.Update'|trans }}</a> - <a href="{{ path('app_countryadmin_new') }}"><i class="fas fa-plus-square"></i> {{ 'admin.index.Create'|trans }}</a>
{% endblock %}