{% import "Index/macro.html.twig" as macro %}

<div class="form-group row">
	{{ form_label(form.title, null, {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
	<div class="col-sm-10">
		{{ form_errors(form.title) }}{{ form_widget(form.title, {'attr':{'class':'form-control'}}) }}
	</div>
</div>

<div class="form-group row">
	{{ form_label(form.text, null, {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
	<div class="col-sm-10">
		{{ form_errors(form.text) }}{{ form_widget(form.text) }}
	</div>
</div>

<div class="form-group row">
	{{ form_label(form.dayBirth, null, {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
	<div class="col-sm-10">
		{{ form_errors(form.dayBirth) }}
		<div class="input-group">
			{{ form_widget(form.dayBirth, {'attr':{'class':'day form-control'}}) }}
			<div class="input-group-append input-group-prepend"><span class="input-group-text">/</span></div>
			{{ form_widget(form.monthBirth, {'attr':{'class':'month form-control'}}) }}
			<div class="input-group-append input-group-prepend"><span class="input-group-text">/</span></div>
			{{ form_widget(form.yearBirth, {'attr':{'class':'year form-control'}}) }}
		</div>
	</div>
</div>

<div class="form-group row">
	{{ form_label(form.dayDeath, null, {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
	<div class="col-sm-10">
		{{ form_errors(form.dayDeath) }}
		<div class="input-group">
			{{ form_widget(form.dayDeath, {'attr':{'class':'day form-control'}}) }}
			<div class="input-group-append input-group-prepend"><span class="input-group-text">/</span></div>
			{{ form_widget(form.monthDeath, {'attr':{'class':'month form-control'}}) }}
			<div class="input-group-append input-group-prepend"><span class="input-group-text">/</span></div>
			{{ form_widget(form.yearDeath, {'attr':{'class':'year form-control'}}) }}
		</div>
	</div>
</div>

<div class="form-group row">
	{{ form_label(form.fileManagement, null, {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
	<div class="col-sm-10">
		{{ form_row(form.fileManagement) }}
	</div>
</div>

<div class="form-group row">
	{{ form_label(form.type, null, {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
	<div class="col-sm-10">
		{{ form_errors(form.type) }}{{ form_widget(form.type, {'attr':{'class':'form-control'}}) }}
	</div>
</div>

<div class="form-group row">
	{{ form_label(form.language, null, {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
	<div class="col-sm-10">
		{{ form_errors(form.language) }}{{ form_widget(form.language, {'attr':{'class':'form-control'}}) }}
	</div>
</div>

<div class="form-group row">
	{{ form_label(form.country, null, {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
	<div class="col-sm-10">
		{{ form_errors(form.country) }}{{ form_widget(form.country, {'attr':{'class':'form-control'}}) }}
	</div>
</div>

<hr />
{{ form_widget(form.save, {'icon': 'fa-save'}) }}
{{ form_rest(form) }}