{% extends sub_domain()~'_layout.html.twig' %}

{% block head_title %}{{ 'menu.left.Admin'|trans }} - {{ 'admin.index.Member'|trans }}{% endblock %}
{% block main_title %}{{ 'menu.left.Admin'|trans }} - {{ 'admin.index.Member'|trans }}{% endblock %}

{% block style_additional %}
	<link rel="stylesheet" type="text/css" href="{{ asset('js/DataTables/DataTables-1.10.18/css/dataTables.bootstrap4.min.css') }}" media="screen" />
	<link rel="stylesheet" type="text/css" href="{{ asset('js/DataTables/Responsive-2.2.2/css/responsive.bootstrap.min.css') }}" media="screen" />
{% endblock %}
{% block script_additional %}
	<script src="{{ asset('js/DataTables/datatables.min.js') }}" type="text/javascript"></script>
	<script src="{{ asset('js/DataTables/DataTables-1.10.18/js/dataTables.bootstrap4.min.js') }}" type="text/javascript"></script>
	<script src="{{ asset('js/DataTables/Responsive-2.2.2/js/dataTables.responsive.min.js') }}" type="text/javascript"></script>
	<script src="{{ asset('js/DataTables/Responsive-2.2.2/js/responsive.bootstrap.min.js') }}"></script>

	<script type="text/javascript">
		$(function ()
		{
			$('table.index_directories').DataTable({
				"oLanguage": {
					"sUrl": "{{ asset('js/DataTables/language/dataTables.'~app.request.locale) }}.txt"
				}, 
				"bFilter": true,
				"bInfo": true,
				"bSort": true,
				"bLengthChange": true,
				"iDisplayLength": 15,
				"bProcessing": true,
				"bServerSide": true,
				"sAjaxSource": "{{ path('app_useradmin_datatables') }}",
				"autoWidth": false
			});
		});
	</script>
{% endblock %}

{% block main_content %}
<table class="index_directories table table-striped table-bordered dt-responsive">
	<thead>
		<th>Id</th>
		<th>{{ 'admin.table.Pseudo'|trans }}</th>
		<th>{{ 'admin.table.Action'|trans }}</th>
	</thead>
	<tbody>
	</tbody>
</table>
{% endblock %}