<div class="flex-space-between">
	<span class="font-weight-bold">{{ 'menu.left.NumberOfPublishedPoems'|trans }}</span><span>{{ statistics["count_poem"] }}</span>
</div>

<div class="flex-space-between">
	<span class="font-weight-bold">{{ 'menu.left.TotalAuthors'|trans }}</span><span>{{ statistics["count_biography"] }}</span>
</div>

<div class="flex-space-between">
	<span class="font-weight-bold">{{ 'menu.left.NumberOfBooks'|trans }}</span><span>{{ statistics["count_collection"] }}</span>
</div>