{% extends 'proverbius_layout.html.twig' %}

{% block head_title %}{{ entity.title }}{% endblock %}
{% block main_title %}{{ entity.title }}{% endblock %}

{% block meta_tag_description %}{% endblock %}

{% block main_content %}
	{% if entity.photo is not empty %}
		<p class="text-center">{{ (constant('\\App\\Entity\\Store::PATH_FILE')~entity.photo)|max_size_image() }}</p>
	{% else %}
		<div class="container-store-product center-iframe text-center">
		{{ entity.embedCode|raw }}
		</div>
	{% endif %}

	{% if entity.amazonCode %}
		<br>
		<div class="text-center">
			<a href="{{ entity.externalStoreLink }}" rel="nofollow" class="btn btn-dark" target="_blank"><span class="text-warning"><i class="fas fa-shopping-cart"></i> {{ "store.index.Buy"|trans }}</span></a>
		</div>
	{% endif %}
	
	{% if entity.text is not empty %}
		<br>
		<div id="main_poem_text" class="text-justify">
			<h3>{{ "store.read.Abstract"|trans }}</h3>
			{{ entity.text|raw }}
		</div>
	{% endif %}
	<hr>
	<p>
	{% if entity.biography is not empty %}
		<a href="{{ path('app_indexproverbius_author', {'id' : entity.biography.id, 'slug' : entity.biography.slug }) }}" alt="" class="font-weight-bold">{{ entity.biography.title }}</a>
		{% if entity.biography.country is not empty %}
		-
		<a href="{{ path('app_indexproverbius_country', {'id' : entity.biography.country.id, 'slug' : entity.biography.country.slug }) }}" alt=""><img class="flag" src="{{ asset(constant('\\App\\Entity\\Country::PATH_FILE')~entity.biography.country.flag) }}" alt="" height="8" /></a>
		{% endif %}
	{% else %}
		<span class="font-weight-bold">{{ "store.index.UnknownAuthor"|trans }}</span>
	{% endif %}
	</p>
{% endblock %}