{% set senderName = "send.index.Somebody"|trans %}

{% if data.firstName is not null %}
	{% set senderName = data.firstName %}
	
	{% if data.lastName is not null %}
		{% set senderName = senderName ~ " " ~ data.lastName %}
	{% endif %}
{% endif %}

<p>{{ senderName }} (<a href="mailto:{{ data.yourMail }}">{{ data.yourMail }}</a>) {{ "send.index.HeSentYouWrittenBy"|trans }}.</p>

{{ data.message|raw }}

<hr>
{{ entity.text|raw }}

<hr>

<p>{{ "send.index.HasBeenSentSince"|trans }} <a href="{{ url("app_index_index") }}" alt="Proverbius">Proverbius</a></p>