{% extends sub_domain()~'_layout.html.twig' %}

{% block head_title %}{{ 'menu.left.Admin'|trans }} - {{ 'admin.index.Source'|trans }}{% endblock %}
{% block main_title %}{{ 'menu.left.Admin'|trans }} - {{ 'admin.index.Source'|trans }}{% endblock %}

{% block main_content %}
	<table class="table table-bordered admin_show">
		<tr>
			<th>{{ "admin.source.Title"|trans }}</th>
			<td>{{ entity.title }}</td>
		</tr>
		<tr>
			<th>{{ "admin.source.Text"|trans }}</th>
			<td>{{ entity.text|raw }}</td>
		</tr>
		<tr>
			<th>{{ "admin.source.Type"|trans }}</th>
			<td>{{ ("source.type."~(entity.type|capitalize))|trans }}</td>
		</tr>
		<tr>
			<th>{{ 'admin.source.Photo'|trans }}</th>
			<td>{% if entity.fileManagement is not empty %}<p class="text-center">{{ (constant('\\App\\Entity\\Source::PATH_FILE')~entity.fileManagement.photo)|max_size_image() }}</p>{% endif %}</td>
		</tr>
		<tr>
			<th>{{ "admin.source.FictionalCharacters"|trans }}</th>
			<td>
			{% if entity.fictionalCharacters is not empty %}
				<ul>
				{% for fictionalCharacter in entity.fictionalCharacters %}
					<li>{{ fictionalCharacter.title }}</li>
				{% endfor %}
				</ul>
			{% endif %}
			</td>
		</tr>
		<tr>
			<th>{{ "admin.source.Authors"|trans }}</th>
			<td>
			{% if entity.authors is not empty %}
				<ul>
				{% for author in entity.authors %}
					<li>{{ author.title }}</li>
				{% endfor %}
				</ul>
			{% endif %}
			</td>
		</tr>
		<tr>
			<th>{{ "admin.form.Language"|trans }}</th>
			<td>{{ entity.language.title }}</td>
		</tr>
		<tr>
			<th>{{ "admin.form.Slug"|trans }}</th>
			<td>{{ entity.slug }}</td>
		</tr>
	</table>
	<hr>
	<a href="{{ path('app_sourceadmin_index') }}"><i class="fas fa-list"></i> {{ 'admin.index.List'|trans }}</a> - <a href="{{ path('app_sourceadmin_edit', { 'id' : entity.id }) }}"><i class="fas fa-edit"></i> {{ 'admin.index.Update'|trans }}</a> - <a href="{{ path('app_sourceadmin_new') }}"><i class="fas fa-plus-square"></i> {{ 'admin.index.Create'|trans }}</a>
{% endblock %}