<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="google-site-verification" content="mVbu4CCtykAXHkuZC4oxd330guO7Ci4ZwsFdirIo9MQ" />
		<title>{% block head_title %}{% endblock %}</title>
		<meta name="description" content="{% block meta_tag_description %}{% endblock %}" />
		<meta name="keywords" content="{% block head_keyworkds %}{% endblock %}" />
		{% block meta_tag %}
		<meta name="robots" content="index,follow" />
		{% endblock %}
		<meta name="msvalidate.01" content="FB19BE8A55C1B235B4389DE2169412FA" />

		<link rel="shortcut icon" href="{{ asset('photo/favicon.ico') }}">

		<!-- GDPR -->
		<script src="{{ asset(minify_file('js/tarteaucitron.js/tarteaucitron.js')) }}"></script>
        <script type="text/javascript">
		tarteaucitronForceLanguage = "{{ app.request.locale }}";
		
        tarteaucitron.init({
    	  "privacyUrl": "", /* Privacy policy url */

    	  "hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
    	  "cookieName": "tarteaucitron", /* Cookie name */
    
    	  "orientation": "middle", /* Banner position (top - bottom) */
    	  "showAlertSmall": true, /* Show the small banner on bottom right */
    	  "cookieslist": true, /* Show the cookie list */

    	  "adblocker": false, /* Show a Warning if an adblocker is detected */
    	  "AcceptAllCta" : true, /* Show the accept all button when highPrivacy on */
    	  "highPrivacy": true, /* Disable auto consent */
    	  "handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */

    	  "removeCredit": false, /* Remove credit link */
    	  "moreInfoLink": true, /* Show more info link */
    	  "useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */
    	  "readmoreLink": "/cookiespolicy" /* Change the default readmore link */
        });
        </script>
        <script type="text/javascript">
        (tarteaucitron.job = tarteaucitron.job || []).push('adsense');
        </script>
		<!-- end GDPR -->

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
		
		{% block style_additional %}
		{% endblock %}
		
		{{ encore_entry_script_tags('app') }}

		{% block script_additional_sup %}
		{% endblock %}
	</head>
	<body>
		<div class="resize"></div>
		<!-- Div Wrapper Element Starts Here -->
		<div id="Wrapper">
			<!-- Header Element Starts Here -->
			<header id="header">
				<!-- Hgroup Element Starts Here -->
				<hgroup id="title" class="row no-gutters">
					<div class="col-lg-6">
						<div id="logo">
							<a href="{{ path('app_index_index') }}" alt="">
								<img src="{{ asset('photo/favicon.ico') }}" alt="logo" />
								<span>{{ block("title") }}</span>
							</a>
						</div>
						<!--<h1>Creating HTML5 <span>Responsive Web Template Using Media Queries</span></h1>-->
						<h2 class="mt-2">{% block title_description %}{% endblock %}</h2>
					</div>
					<div class="col-lg-6 mt-2">
						<!-- <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->
						<!-- QPP - Right side -->
						<ins class="adsbygoogle"
							 style="display:block"
							 data-ad-client="ca-pub-1951906303386196"
							 data-ad-slot="6687056419"
							 data-ad-format="horizontal"
							 data-full-width-responsive="true"></ins>
						<script>
							 (adsbygoogle = window.adsbygoogle || []).push({});
						</script>
					</div>
				</hgroup>
				<!-- Hgroup Element Ends Here -->

				<!-- Nav Element Starts Here -->
				<nav class="navbar navbar-expand-lg navbar-light bg-white navbar-expand-md my-2 text-center">
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarNav">
						<ul class="navbar-nav">
							{% block menu %}{% endblock %}
						</ul>
					</div>
				</nav>
			</header>
			<!-- Header Element Ends Here -->
			<!-- Div wrapper2 starts here -->
			<div id="Wrapper2" class="d-flex">			
				<!-- Sidebar Element Starts Here -->
				<aside id="sidebar-wrapper" class="align-self-stretch">
					<nav class="sidebar">
						{% block recent %}{% endblock %}

						<div class="social-media-icons">
							<a class="social-network facebook" href="//www.facebook.com/Proverbius-1894996570590486" target="_blank"><i class="fab fa-facebook-square fa-3x"></i></a>
							<a class="social-network twitter" href="//twitter.com/poeticus12" target="_blank"><i class="fab fa-twitter-square fa-3x" target="_blank"></i></a>
							<a class="social-network pinterest" href="//pinterest.com/amatukamiproverbius/" target="_blank"><i class="fab fa-pinterest-square fa-3x" target="_blank"></i></a>
							<a class="social-network instagram" href="//www.instagram.com/_proverbius/" target="_blank"><i class="fab fa-instagram fa-3x" target="_blank"></i></a> 
							<a class="social-network github" href="//github.com/Wakonda/Quotus2" target="_blank"><i class="fab fa-github-square fa-3x" target="_blank"></i></a> 
						</div>
						<h1>{{ 'menu.left.FollowUs'|trans }}</h1>
						<span style="text-align: center" class="follow_on_twitter"><a href="https://twitter.com/poeticus12" class="twitter-follow-button" data-show-count="false" data-lang="fr" data-size="large" data-dnt="true">Suivre @poeticus12</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></span>
					</nav>

					<nav class="sidebar">
						<h1>{{ 'menu.left.Publicity'|trans }}</h1>
						<!-- <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->
						<!-- Poeticus_right_menu -->
						<ins class="adsbygoogle"
							 style="display:inline-block;width:250px;height:250px"
							 data-ad-client="ca-pub-1951906303386196"
							 data-ad-slot="5545754940"></ins>
						<script type="text/javascript">
						(adsbygoogle = window.adsbygoogle || []).push({});
						</script>
					</nav>
					
					<nav class="sidebar">
						<h1>{{ 'menu.left.HelpUs'|trans }}</h1>
						<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="text-center">
							<input type="hidden" name="cmd" value="_donations" />
							<input type="hidden" name="business" value="5XXNV9Q7AGB2E" />
							<input type="hidden" name="currency_code" value="EUR" />
							<input type="image" src="https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
							<img alt="" border="0" src="https://www.paypal.com/fr_FR/i/scr/pixel.gif" width="1" height="1" />
						</form>

						<div class="text-center">
							<button onclick="window.open('https://wakonda.guru/help_us#make-donation');" target="_blank" class="btn btn-sm btn-warning mt-3"><i class="fab fa-bitcoin" aria-hidden="true"></i> Bitcoin</button>
						</div>
					</nav>
					
					<nav class="sidebar">
						<h1>{{ 'menu.left.Statistics'|trans }}</h1>
						{% block statistic %}{% endblock %}
					</nav>

					<nav class="sidebar">
						<h1>{{ 'menu.left.MemberArea'|trans }}</h1>
						<ul>
							{% if is_granted('IS_AUTHENTICATED_FULLY') %}
								{% if is_granted("ROLE_ADMIN") %}
									<li><a href="{{ path('app_admin_index') }}">{{ 'menu.left.Admin'|trans }}</a></li>
								{% endif %}
								<li><a href="{{ path('app_user_show') }}">{{ 'menu.left.MyProfile'|trans }}</a></li>
								<li><a href="{{ path('app_user_updatepassword') }}">{{ 'menu.left.ChangeMyPassword'|trans }}</a></li>
								<li><a href="{{ path('app_user_edit') }}">{{ 'menu.left.EditProfile'|trans }}</a></li>
								{% block member_area_menu %}{% endblock %}
								<li><a href="{{ path('app_user_logout') }}">{{ 'menu.left.LogOut'|trans }}</a></li>
							{% else %}
								<li><a href="{{ path('app_user_login') }}" alt="">{{ 'menu.left.LogIn'|trans }}</a></li>
								<li><a href="{{ path('app_user_new') }}" alt="">{{ 'menu.left.CreateAccount'|trans }}</a></li>
							{% endif %}
						</ul>
					</nav>
					
					<nav class="sidebar">
						<h1>{{ 'menu.left.Languages'|trans }}</h1>
						{% block language_selector %}{% endblock %}
					</nav>
				</aside>

				<article id="contents" class="align-self-stretch">
					<header>
						<h1>{% block main_title %}{% endblock %}</h1>
					</header>
					
					{% for message in app.session.getFlashBag.get('message') %}
						<div class="alert alert-success">{{ message }}</div>
					{% endfor %}
					
					{% block main_content %}{% endblock %}
					<div class="advert">
					<p class="ad_title hidden_print">{{ 'menu.left.Publicity'|trans }}</p>
					<!-- <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->
					<!-- poeticus_down -->
					<ins class="adsbygoogle"
						 style="display:block"
						 data-ad-client="ca-pub-1951906303386196"
						 data-ad-slot="1788413344"
						 data-ad-format="auto"></ins>
					<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
					</script></div>
				</article>
			</div>

			<footer id="copyrights">
				<p><i class="far fa-copyright fa-sm"></i> {% block year_foundation %}{% endblock %} <a href="{{ path('app_index_page', {'name' : 'copyright'}) }}">{{ block("title") }}</a> by <a href="https://wakonda.guru">Wakonda.guru</a> - <a href="{{ path('app_index_page', {'name' : 'about'}) }}">{{ 'menu.footer.About'|trans }}</a> - <a href="{{ path('app_index_page', {'name' : 'privacyPolicy'}) }}">{{ 'menu.footer.PrivacyPolicy'|trans }}</a> - <a href="{{ path('app_contact_index') }}">{{ 'menu.footer.ContactUs'|trans }}</a> - <a href="{{ path('app_index_version') }}">{{ 'menu.footer.Version'|trans }} {{ number_version() }}</a></p>
			</footer>
		</div>

		<script src="{{ asset(minify_file('js/cookiechoices/cookiechoices.js')) }}"></script>
		<script type="text/javascript">
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-12307735-4', 'auto');
			ga('send', 'pageview');

			$(function() {
				cookieChoices.showCookieBar({
					linkHref: '{{ path("app_index_page", {"name" : "cookie"}) }}',
					language: '{{ app.request.locale }}'
				});
			});
		</script>
		{% block script_additional %}
		{% endblock %}
	</body>
</html>