{% extends 'generic_layout.html.twig' %}

{% block head_title %}{{ 'menu.left.Admin'|trans }} - {{ 'admin.index.Backup'|trans }}{% endblock %}
{% block main_title %}{{ 'menu.left.Admin'|trans }} - {{ 'admin.index.Backup'|trans }}{% endblock %}

{% block style_additional %}
{% endblock %}
{% block script_additional %}
{% endblock %}

{% block main_content %}
	<table class="index_directories table table-striped table-bordered dt-responsive">
		<thead>
			<th>{{ 'backup.index.File'|trans }}</th>
			<th>{{ 'backup.index.Actions'|trans }}</th>
		</thead>
		<tbody>
			{% for file in files %}
				<tr>
					<td>{{ file }}</td>
					<td>
						<a href="{{ path('app_backupadmin_download', {'filename': file}) }}" class="btn btn-success btn-sm"><i class="fas fa-download" aria-hidden="true"></i></a>
						<a href="{{ path('app_backupadmin_delete', {'filename': file}) }}" class="btn btn-danger btn-sm"><i class="fas fa-trash" aria-hidden="true"></i></a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td class="text-center" colspan="2">{{ 'backup.index.No'|trans }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<hr>
	<a href="{{ path('app_backupadmin_generate') }}"><i class="fas fa-plus-square"></i> {{ 'admin.index.Create'|trans }}</a>
{% endblock %}