{% extends sub_domain()~'_layout.html.twig' %}

{% block head_title %}{{ 'user.editAccount.Title'|trans }}{% endblock %}
{% block main_title %}{{ 'user.editAccount.Title'|trans }}{% endblock %}

{% block script_additional %}
	<script src="{{ asset('js/tinymce/js/tinymce/tinymce.min.js') }}" type="text/javascript"></script>
	
	<script type="text/javascript">
		tinymce.init({
			selector:'textarea',
			height: 250,
			menubar: false,
			language: "{{ code_by_language(app.request.locale) }}",
			statusbar: false,
			plugins: [
				'lists link image charmap textcolor media'
			],
			toolbar: 'bold italic underline | forecolor backcolor | alignleft aligncenter alignright alignjustify | link image | undo redo |',
			setup: function (editor) {
				editor.on('change', function () {
					tinymce.triggerSave();
				});
			}
		});

		$(function()
		{
			$("span#reload_gravatar").click(function()
			{
				$.ajax({
					type: "GET",
					url: "{{ path('app_index_gravatar') }}",
					cache: false,
					success: function(data)
					{
						$("img#gravatar").attr("src", data.new_gravatar);
						$("#user_gravatar").val(data.new_gravatar);
					}
				});
			});
			
			$("#user_gravatar").val($("img#gravatar").attr("src"));
		});
	</script>
{% endblock %}

{% block main_content %}
<p class="text-center">
{% if entity.avatar is null %}
	<img src="{{ entity.gravatar }}" alt="" id="gravatar" />
{% else %}
	{{ (constant('\\App\\Entity\\User::PATH_FILE')~entity.avatar)|max_size_image() }}
{% endif %}
</p>
{% form_theme form 'Form/fields.html.twig' %}
{{ form_start(form, {'method' : 'post', 'action' : path('app_user_update', { 'id' : entity.id }), 'attr': {'novalidate': 'novalidate'} }) }}
	<div class="form-group row">
		{{ form_label(form.username, null, {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
		<div class="col-sm-10">
			{{ form_errors(form.username) }}{{ form_widget(form.username, {'attr':{'class':'form-control'}}) }}
		</div>
	</div>
	<div class="form-group row">
		{{ form_label(form.email, null, {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
		<div class="col-sm-10">
			{{ form_errors(form.email) }}{{ form_widget(form.email, {'attr':{'class':'form-control'}}) }}
		</div>
	</div>
	<div class="form-group row">
		{{ form_label(form.avatar, null, {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
		<div class="col-sm-10">
			<p><b><u>{{ 'user.createAccount.CurrentGravatar'|trans }}</u></b> <i>{{ (entity.avatar is null) ? "Gravatar" : entity.avatar }}</i></p>
			<p class="underline font-italic">{{ 'user.createAccount.SelectFile'|trans }}</p>
			{{ form_errors(form.avatar) }}
			{{ form_widget(form.avatar) }}
			<p class="font-weight-bold underline">{{ 'user.createAccount.OR'|trans }}</p>
			<p class="font-italic underline">{{ 'user.createAccount.UseGravatar'|trans }}</p>
			<img src="{{ entity.gravatar }}" alt="gravatar" id="gravatar" /> <span class="fas fa-sync reload" id="reload_gravatar"></span>
		</div>
	</div>
	<div class="form-group row">
		{{ form_label(form.presentation, null, {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
		<div class="col-sm-10">
			{{ form_errors(form.presentation) }}{{ form_widget(form.presentation) }}
		</div>
	</div>
	<div class="form-group row">
		{{ form_label(form.country, null, {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
		<div class="col-sm-10">
			{{ form_errors(form.country) }}{{ form_widget(form.country, {'attr':{'class':'form-control'}}) }}
		</div>
	</div>
	<hr />
	{{ form_widget(form.save, {'icon': 'fa-save'}) }}
	{{ form_rest(form) }}
{{ form_end(form) }}
{% endblock %}